@import '~nav-frontend-core/less/_variabler';

.prelansering-inneholder {
	padding: 2rem 1rem;
	display: flex;
	justify-content: center;
	background-color: @navLysBlaLighten60;
}

@media (min-width: @screen-md-min) {
	.prelansering-inneholder {
		.wrapper {
			display: flex;
			justify-content: center;
		}

		.wrapper-inneholdt {
			padding: 2rem 1rem 1rem 1rem;
			margin-bottom: 0;
			width: 27rem;
		}

		.info-tekst {
			padding-top: 2rem;
		}

		.pcBilde {
			height: 19rem;
		}
	}
}
