.prelansering-inneholder {
	padding: var(--a-spacing-8) var(--a-spacing-4);
	display: flex;
	justify-content: center;
	background-color: var(--a-lightblue-100);
}

@media (min-width: 992px) {
	.prelansering-inneholder {
		.wrapper {
			display: flex;
			justify-content: center;
		}

		.wrapper-inneholdt {
			padding: var(--a-spacing-8) var(--a-spacing-4) var(--a-spacing-4);
			margin-bottom: 0;
			width: 27rem;
		}

		.info-tekst {
			padding-top: var(--a-spacing-8);
		}

		.pcBilde {
			height: 19rem;
		}
	}
}
