.user-table-container {
	padding-left: var(--ax-space-32);
	padding-right: var(--ax-space-32);
}

.user-table {
	background: white;
}

.user-table td,
.user-table th {
	/* Set tekst i tabell-celler til 1rem, utan å miste padding-mengder frå tabellstorleik medium */
	font-size: var(--ax-font-size-medium);
}
