.user-table-row .celle-med-knapp button {
	/* Gjer at knappe-teksten i celler havnar på linje med kolonneoverskrifta */
	padding-left: var(--ax-space-4);
	padding-right: var(--ax-space-4);
}

.user-table-row .celle-med-tekst {
	/* Gjer at celle-teksten havnar på linje med kolonneoverskrifta */
	padding-left: var(--ax-space-12);
	padding-right: var(--ax-space-12);
}

.user-table-row .bruker-direktelenke-knapp {
	/* Gjer at namna havnar rett under kvarandre i tabellen, også når nokre namn er lange eller skjermen er liten */
	text-align: start;
	color: var(
		--ax-bg-accent-strong
	); /* For at ikonfargen i knappen skal følge temaet, og ikkje bli svart på mørkt tema */
}

.user-table-row .utkast-status-celle .status {
	display: flex;
	gap: var(--ax-space-8);
}

.user-table-row .utkast-status-celle .status .status_ikon {
	min-width: 1.5rem;
	font-size: 1.5rem;
}
