.user-table-body {
  padding: 0;
  margin: 0;

  .user-table-row:nth-child(even) {
    background-color: white;
  }

  .user-table-row:nth-child(odd) {
    background-color: #f7f7f7;
  }
}

.user-table-row {
  display: grid;
  grid-template-columns: repeat(3, 2fr) 3fr repeat(3, 2fr) 1fr 200px;
  justify-items: start;
  padding: 1.3rem 0 1.7rem 0;

  & > {
    padding-left: 7px;
  }

  text-align: center;

  align-items: end;

  &__status {
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: end;
    .status_ikon {
      max-width: 1.6rem;
    }

  }
}
