.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  &__dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    > *:not(:first-child)  {
      margin-left: 2rem;
    }
  }
}