name: GitHub pages
on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  CI: true
  TZ: Europe/Amsterdam

jobs:
  update-gh-pages:
    name: Update GitHub pages
    environment:
      name: github-pages
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          registry-url: "https://npm.pkg.github.com"
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Build mock application
        run: npm run build:mock
      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
